<div class="row">
    <div class="col-10 mx-auto mt-5">
        <form #f="ngForm" novalidate>
            <div class="form-outline form-white mb-4 input-group">
                <input type="text" class="form-control form-control-lg" name="element"
                    placeholder="Recherche simple ici, recherche avancée avec le select" ngModel required
                    #element="ngModel" autocomplete="on" />
                <select class=form-control name="choix" ngModel>
                    <option value=un>Recherche par nom de recette exact</option>
                    <option value=deux>Recherche par mot clé dans le nom</option>
                    <option value=trois>Recherche par un ou des ingrédients contenu(s)</option>
                    <option value=quatre>Recherche par auteur</option>
                    <option value=cinq>Recherche par prix</option>
                    <option value=six>Recherche par difficulté</option>
                </select>
                <button type="button" class="btn btn-outline-dark" (click)="research(f)">Rechercher</button>
            </div>

        </form>
    </div>
</div>


<div *ngIf="listeRecette.length !== 0">
    <div class="row">
        <div class="col-3" *ngFor="let recette of listeRecette">
            <div class="card border-dark m-3" style="max-width: 18rem;">
                <div class="card-header bg-dark text-light border-dark">{{recette['type']}}</div>
                <div class="card-body text-dark bg-transparent">
                    <h3 class="card-title">{{recette['nom']}}</h3>
                    <br />
                    <p class="card-text">Difficulté : {{recette['difficulte']}}</p>
                    <p class="card-text">Temps de préparation : {{recette['temps']}}</p>
                    <p class="card-text">Prix : {{recette['prix']}}€</p>
                    <p class="card-text">Nombre de personnes : {{recette['nbPersonnes']}}</p>
                </div>
                <div class="card-footer bg-transparent border-dark">
                    <a [routerLink]="['/details', recette['nom']]" routerLinkActive="active"><button type="button"
                            class="btn btn-outline-dark bg-dark text-light">Découvrir</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="listeRecette.length === 0">
    <div class="row" id="espace">
    </div>
</div>